<section class="home-panel">
  <div class="glass">
    <h1>Bienvenue sur Genovesa Ille-et-Vilaine !</h1>
    
    <div class="content">
      <img src="/images/logo-departement.png"/>

      <p>
        <b>Genovesa</b> est un projet réalisé par six étudiants du département informatique de l'<a href="http://insa-rennes.fr">INSA de Rennes</a>.<br/><br/>
        C'est un outil de consultation et d'annotation d'images d'archives, conçu pour les archives départementales d'Ille-et-Vilaine.
        Genovesa vous permet de parcourir plus de 22 000 images parmi 70 documents d'archives tout en les annotant, afin de retracer la vie de vos ancêtres.
      </p>
    </div>
  </div>
</section>
