<section class="person-search-panel">
  <section>
    <h1>
      Saisissez vos critères de recherche
    </h1>

    <div class="criterias"></div>

    <datalist id="fields">
      <option value="Nom" />
      <option value="Prénom" />
      <option value="Lieu de naissance" />
      <option value="Date de naissance" />
      <option value="Lieu du décès" />
      <option value="Date du décès" />
      <option value="Profession" />
    </datalist>

  </section>

  <section>
    <p>
      <input type="button" data-action="add-criteria" value="Ajouter un critère" class="button dark"/>
      <input type="button" data-action="do-search" value="Rechercher" class="button dark"/>
    </p>
  </section>
</section>

