input {
  font: 13px 'Open Sans';
}

input:focus {
  outline-width: 0;
  
}

input[type="text"], input[type="number"] {
  box-shadow: inset 1px 1px 3px #ebebeb;
  cursor: text;
  background-color: hsl(220, 33%, 98%);
  border: 1px solid hsl(220, 33%, 90%);
  border-radius: 3px;
  padding: 4px 6px;
}
