.genovesa-tooltip
{
    display: inline;
    opacity: 100;
    padding: 0;
}

.genovesa-tooltip span 
{
  position: fixed;
  width: 200px;
  color: #333;
  display: none;
  line-height: 20px;
  font-size: 14px;
  background-image: linear-gradient(top, hsl(220, 33%, 95%), hsl(220, 33%, 90%));
  background-image: -webkit-linear-gradient(top, hsl(220, 33%, 95%), hsl(220, 33%, 90%));
  background-image: -moz-linear-gradient(top, hsl(220, 33%, 95%), hsl(220, 33%, 90%));
  background-image: -ms-linear-gradient(top, hsl(220, 33%, 95%), hsl(220, 33%, 90%));
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
  z-index: 100;
  padding: 10px;
}

.genovesa-tooltip span:after 
{
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent hsl(220, 33%, 95%) transparent;
  z-index: 10;
  top: -18px;
}

.genovesa-tooltip:hover span
{
  display:inline-block;
}
