<a class="tile" href="#!/documents/by/township/{{id}}">
  <header>
    <h1>
      <img src="icons/24/home.png" height="24" width="24"/>
      {{name}}
    </h1>
  </header>
  
  <aside>
    <ul>
      <li>
        <img src="icons/16/marker.png" height="16" width="16"/>
        {{postalCode}}
      </li>
      
      <li>
        <img src="icons/16/map.png" height="16" width="16"/>
        {{department}}
      </li>
    </ul>
  </aside>
</a>
