<div class="toolbar">
  <div class="button light">
    Trier &#x25BE;
  </div>

  <div class="button-group">
    <div class="button light selected" data-action="display-tiles"><img src="icons/16/application-icon-large.png"/>Icônes</div><div class="button light" data-action="display-list"><img src="icons/16/application-list.png"/>Liste</div>
  </div>
</div>