<div id="application">

  <div id="header">
    <a id="genovesa-logo" href="#!/home">
      Genovesa
    </a>

    <div id="breadcrumbs"></div>

    <div id="user-menu"></div>
  </div>

  <div id="main">
    <div id="sidebar">
      <ul>
        <li>
          <img src="icons/16/folder-horizontal.png" height="16" width="16"/>
          Documents
        </li>

        <li>
          <a href="#!/documents/by/query">
            <img src="icons/16/magnifier.png" height="16" width="16"/>
            Par mots-clés
          </a>
        </li>

        <li>
          <a href="#!/documents/by/township">
            <img src="icons/16/home.png" height="16" width="16"/>
            Par commune
          </a>
        </li>

        <li>
          <a href="#!/documents/by/type">
            <img src="icons/16/book.png" height="16" width="16"/>
            Par type de document
          </a>
        </li>
      </ul>


      <div id="persons-menu"></div>
      <div id="bookmarks-menu"></div>
    </div>

    <div id="panel-host">
      <div id="toolbar"></div>
      <div id="panel"></div>
    </div>
  </div>

  <div id="form-host"></div>
</div>
