<div class="event">
  <div class="symbol">
    <p class="circle">
        {{dateForEvent this}}
    </p>
  </div>

  <article>
    <header>
      <h1>{{titleForEvent this}} à {{placeForEvent this}}</h1>
    </header>
  </article>
</div>
