<form method="" action="">
  <datalist id="autocomplete">
    <option value="Nom" />
    <option value="Prénom" />
    <option value="Lieu de naissance" />
    <option value="Date de naissance" />
    <option value="Lieu du décès" />
    <option value="Date du décès" />
    <option value="Profession" />
  </datalist>

  <div class="fields">
  </div>
  <div class="tag-field-form">
  </div>
  <hr />
  <div class="persons">
  </div>
  <p>
    <a href="#" data-action="add-person-field" class="button dark">Ajouter une personne</a>
  </p>
  <hr />
  <p>
    <a href="#" data-action="create-annotation-group" class="button dark">
      Enregistrer
    </a>
    <a href="#" data-action="cancel-create-annotation-group" class="button dark">
      Annuler
    </a>
  </p>
</form>

