<div class="person">
    <header>
      <h1>Nouvelle personne <img src="icons/16/cross-small.png" alt="Supprimer" data-action="remove-person" /></h1>
    </header>

    <p>
      <label for="">Individu</label><br />
      <select>
        <option value="new">Créer un nouvel individu</option>
      </select>
    </p>

    <div class="person-fields">
    </div>

    <div class="person-tag-field-form">
    </div>
</div>

<hr />
