<p>
  <label for="new-tag-field">Nom du champ</label><br />
  <input type="text" id="new-tag-field" {{#if autocomplete}}list="autocomplete"{{/if}}/> <br /><br />
  <a href="#" data-action="add-tag-field" class="button dark">
    Ajouter
  </a>
  <a href="#" data-action="cancel-tag-field" class="button dark">
    Annuler
  </a>
</p>
