<div>
  <div>
    <div class="button-group"><img class="button light" data-action="go-first" src="icons/16/document-page.png" title="Première image"/><img class="button light" data-action="go-previous" src="icons/16/document-page-previous.png" title="Image précédente"/><img class="button light" data-action="go-next" src="icons/16/document-page-next.png" title="Image suivante"/><img class="button light" data-action="go-last" src="icons/16/document-page-last.png" title="Dernière image"/></div>

    <div class="button light" data-action="choose-move">
      <img src="icons/16/hand.png"/>
      Déplacer
    </div>

    <div class="button light" data-action="adjust">
      <img src="icons/16/magnifier-zoom-fit.png"/>
      Ajuster
    </div>

    <div class="button light" data-action="choose-zoom">
      <img src ="icons/16/magnifier-zoom-in.png"/>
      Agrandir une zone
    </div>

    <div class="button-group"><img class="button light" data-action="rotate-left" src="icons/16/arrow-circle-225-left.png" title="Pivoter à gauche"/><img class="button light" data-action="rotate-right" src="icons/16/arrow-circle-315.png" title="Pivoter à droite"/></div>
  </div>
</div>
