<div class="dialog-background">
  <div class="register-dialog">
    <form class="register-form" action="" method="">
      <span style="float: right;">
        <img data-action="close-dialog" src="icons/16/cross-small.png" alt="Fermer" />
      </span>

      <header>
        <h1>Inscription</h1>
      </header>



      <p>
      Veuillez remplir le formulaire ci-dessous afin de procéder à votre inscription :
      </p>
      <p>
        <ul class="errors">

        </ul>
      </p>
      <p>
        <input type="text" maxLength="30" id="name" name="user[name]" placeholder="Identifiant" />
      </p>
      <p>
        <input type="text" maxLength="255" id="email" name="user[email]" placeholder="Adresse email" />
      </p>
      <p>
        <input type="password" maxLength="255" id="password" name="user[password]" placeholder="Mot de passe" />
      </p>
      <p>
        <input type="password" maxLength="255" id="passwordConfirmation" name="user[passwordConfirmation]" placeholder="Confirmation du mot de passe" />
      </p>
      
      <p class="form-actions">
      </p>
    </form>

    <hr />

    <p>
      Déjà membre de genovesa ? <br/> 
      Connectez-vous maintenant et utilisez votre compte !
    </p>
    <p>
      <a class="button dark" data-action="login">
        <img src="icons/16/user-silhouette.png"/>
        Se connecter
      </a>
    </p>
  </div>
</div>

